<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>

  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-left mb-0">NGO</h2>
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">List</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div
        class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none"
      >
        <div class="form-group breadcrum-right">
        </div>
      </div>
    </div>

    <div class="content-body">
      <section id="data-thumb-view" class="data-thumb-view-header">
        <div class="action-btns d-none">
          <div class="btn-dropdown mr-1 mb-1">

          </div>
        </div>

        <!-- DataTable starts -->
        <div class="table-responsive">
          <table class="table data-thumb-view">
            <thead>
              <tr>
                <th></th>
                <th>IMAGE</th>
                <th>STATUS</th>
                <th>NAME</th>
                <th>FEATURED</th>
                <th>CREATED AT</th>
                <th>ACTION</th>
              </tr>
            </thead>

            <tbody>
              <% if( ngos.length > 0 ){  %> 
              <%  for (let item of ngos ) { %> 
               
              <tr>
                <td></td>
                <td class="product-img">
                  <img src="<%= `/${item.logoPath}` %>" alt="Img placeholder">
                </td>
                <td>
                  <div class="chip <%= item.status == 'active' ? 'chip-success' : 'chip-danger' %>">
                    <div class="chip-body">
                      <div class="chip-text"><%= item.status == 'active' ? 'Active' : 'Deactive' %></div>
                    </div>
                  </div>
                </td>
                <td><%= item.name %></td>
                <td>
                  <div class="chip <%= item.isFeatured == 'yes' ? 'chip-success' : 'chip-danger' %>">
                    <div class="chip-body">
                      <div class="chip-text"><%= item.isFeatured.toUpperCase() %></div>
                    </div>
                  </div>
                </td>
                <td><%= new Date(item.createdAt).toLocaleString() %></td>
  
                <td class="product-action">
                  <a href="/ngo/update?ngoId=<%= item.ngoId %> "><span class="action-edit"><i class="feather icon-edit"></i></span></a>
                </td>
              </tr>

              <% } %> 
              <% } %> 

            </tbody>
          </table>
        </div>
        <!-- DataTable ends -->

      </section>
      <!-- Data list view end -->
    </div>
  </div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
