
     <script src="<%= nodeSiteUrl %>assets/js/jquery.min.js"></script>
     <script src="<%= nodeSiteUrl %>assets/js/bootstrap.bundle.min.js"></script>
     <script src="<%= nodeSiteUrl %>assets/js/waves.js"></script>
     <script src="<%= nodeSiteUrl %>assets/js/feather.min.js"></script>
     <script src="<%= nodeSiteUrl %>assets/js/simplebar.min.js"></script> 
 </body>
</html>